.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #f6f8f9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.democ{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
}
@media (min-width:500px) {
  .democ{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    flex-basis: 100px;
	flex-grow: 1;
	/* flex-shrink: 1; */
  }
  .childc{
    height: 280px;
    width: 300px;
  
  }
  .pbtn{
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
  }
}
.totalp{
  height: 150px;
  margin-top: 20px;
  display: flex;
}
@media (max-width:500px) {
   .pbtn{
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
  }
}
.finfo{
  display: flex;
  justify-content: center;
  align-items: center;
}
li{
  list-style: none;
  padding: 10px;
}
.testygoicon{
  color: darkorange;
  font-size: 30px;
  padding-top: 10px;
font-family: 'Courier New', Courier, monospace;
}
.testygonav{
  position: sticky;
}
.logop{
  margin-top: 10px;
}
@media (max-width:500px) {
  .cartsitems{
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: -10px;
  }
}
@media (max-width:500px) {
  .navbar1{
    display:inline;
    text-align: left;
  }
}
@media (min-width:500px) {
  .navbar1{
    display:flex;
  }
}
.scrollitems::-webkit-scrollbar {
  display: none;
}
#sitem{
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 10px;
}
#sitem:hover{
  height: 80px;
  width: 80px;
  border: 3px solid rgb(247, 146, 21);
  border-radius: 50%;
  margin-left: 10px;
}
.tname{font-size:12px;
       font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
.dbtn{
  font-size: 40px;
  text-decoration: none;
  background-color: orange;
  border: 1px solid black;
}
.dbtn:hover{
  font-size: 40px;
  text-decoration: none;
  background-color: #f6f8f9;
}
@media (min-width:500px){
  .search-size{
  width: 700px;
  border: 1px solid orange;
  }
  .boxs{
    display: flex;
    justify-content: left;
    align-items: left;
  }
}
@media (max-width:500px){
  .search-size{
  width: 700px;
  border: 1px solid orange;
  }
  .boxs{
    display: flex;
    justify-content: left;
    align-items: left;
  }
}
@media (max-width:500px)
{
  .redline{
    overflow-x: hidden;
    z-index: 1;
    width: 100%;
    height: 20px;
    background-color: red;
  }
  .redline::-webkit-scrollbar {
    display: none;
  }
  .headline{
   
    text-align: start;
    animation-name: headlinemove;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  @keyframes headlinemove{
    0%{
      position: relative;
      left:-190px;
  
    }
    100%{
      position: relative;
      left:100%;
    }
  }
  .slider{
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }.Imageslide{
    height: 230px;
    width: 100%;
    
  }
}
@media (min-width:500px){
  .redline{
    margin-top: 150px;
    overflow-x:scroll;
    width: 100%;
    background-color: red;
  }
  .redline::-webkit-scrollbar {
    display: none;
  }
  .headline{
    overflow-x:hidden;
    text-align: start;
    animation-name: headlinemove;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }
  @keyframes headlinemove{
    0%{
      position: relative;
      left:0px;
  
    }
    100%{
      position: relative;
      overflow-x:hidden;
      left:100%;
    }
  }
  .slider{
    position: relative;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .Imageslide{
    height: 600px;
    width: 100%;
    
  }
}


.right-arrow{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 1rem;
  color:black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 1rem;
  color:black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide{
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  
}
@media (max-width:475px){
  .videoplayer{
    height: 280px;
    width: 320px;
  }
}
@media (min-width:475px){
  .videoplayer{
    height: 600px;
    width: 500px;
  }
}
@media (min-width:1024px){
  .videoplayer{
    height: 600px;
    width: 946px;
  }
}
@media (min-width:768px)
{
  .outer_dropdown{
    background-color: rgb(251, 251, 251);
    position: relative;
    width: 50%;
    top: -50px;
    z-index: 1;
    margin-bottom: -100rem;
  }
  .dropdown-rows:hover{
    cursor: pointer;
    background-color: orange;
    /* border-bottom: 1px solid rgb(5, 4, 4); */
    
  }
  .dropdown-rows{
    
    border-bottom: 2px solid rgb(5, 4, 4);
    
  }
}
@media (max-width:768px) {
  .outer_dropdown{
    background-color: rgb(251, 251, 251);
    position: relative;
    width: 70%;
    top: -50px;
    z-index: 9;
    margin-bottom: -100rem;
  }
  .outer_dropdown:hover{
    background-color: rgb(251, 251, 251);
    position: relative;
    width: 70%;
    top: -50px;
    color: orange;
    margin-bottom: -100rem;
  }
  .dropdown-rows:hover{
    cursor: pointer;
    background-color: orange;
    /* border-bottom: 1px solid rgb(5, 4, 4); */
    
  }
  .dropdown-rows{
    cursor: pointer;
    border-bottom: 2px solid rgb(5, 4, 4);
    
  }
}
.cartsitems1{
  display: flex;
}



